<form action="#" th:action="@{/addpokemon}" th:object="${pokemon}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">

    <label for="type1">Type 1</label>
    <input type="text" th:field="*{type1}" id="type1" placeholder="Type 1">

    <label for="type2">Type 2</label>
    <input type="text" th:field="*{type2}" id="type2" placeholder="Type 2">

    <label for="level">Level</label>
    <input type="number" th:field="*{level}" id="level" placeholder="Level">

    <label for="hp">Hit Points</label>
    <input type="number" th:field="*{hp}" id="hp" placeholder="Hit Points">

    <label for="attack">Attack</label>
    <input type="number" th:field="*{attack}" id="attack" placeholder="Attack">

    <label for="defense">Defense</label>
    <input type="number" th:field="*{defense}" id="defense" placeholder="Defense">

    <label for="specialAttack">Special Attack</label>
    <input type="number" th:field="*{specialAttack}" id="specialAttack" placeholder="Special Attack">

    <label for="specialDefense">Special Defense</label>
    <input type="number" th:field="*{specialDefense}" id="specialDefense" placeholder="Special Defense">

    <label for="speed">Speed</label>
    <input type="number" th:field="*{speed}" id="speed" placeholder="Speed">

    <span th:if="${#fields.hasErrors()}">Error introduciendo al pokemon</span>

    <input type="submit" value="Add Pokemon">
</form>