<div th:switch="${pokemons}">
    <h2 th:case="null">No pokemons yet!</h2>
    <div th:case="*">
        <h2>Pokemons</h2>
        <table aria-describedby="Pokemons table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type 1</th>
                    <th>Type 2</th>
                    <th>Level</th>
                    <th>Hit Points</th>
                    <th>Attack</th>
                    <th>Defense</th>
                    <th>Special Attack</th>
                    <th>Special Defense</th>
                    <th>Speed</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pokemon : ${pokemons}">
                    <td th:text="${pokemon.name}"></td>
                    <td th:text="${pokemon.type1}"></td>
                    <td th:text="${pokemon.type2}"></td>
                    <td th:text="${pokemon.level}"></td>
                    <td th:text="${pokemon.hp}"></td>
                    <td th:text="${pokemon.attack}"></td>
                    <td th:text="${pokemon.defense}"></td>
                    <td th:text="${pokemon.specialAttack}"></td>
                    <td th:text="${pokemon.specialDefense}"></td>
                    <td th:text="${pokemon.speed}"></td>
                    <td><a th:href="@{/edit/{id}(id=${pokemon.id})}">Edit</a></td>
                    <td><a th:href="@{/delete/{id}(id=${pokemon.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/newpokemon">Add a new pokemon</a></p>
</div>